nav {
  height: 120px;
  width: 100%;
  background-color: #1254c7;
  background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
}
nav > span {
  font-family: 'Bungee';
  font-size: 2.5rem;
}

nav > div > p > span {
  font-weight: bold;
  font-size: 28px;
  
}
.writeTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.writeTweet p {
  cursor: pointer;
}
.writeTweet i {
  cursor: pointer;
  margin-top: -1.2rem;
  color: red;
}
